<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Einige Informationen über mich.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/work.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006 - HEUTE</h4>
                                    <h4 class="subheading">Arbeit und Projekte</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nach meiner Doppellehre zum KFZ-Techniker und Verkäufer mit Berufsreifeprüfung leistete ich den Zivildienst beim Roten Kreuz. Neben meinem Studium absolvierte ich ein Praktikum als Android-Entwickler und verwirklichte eigene Ideen.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tu1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011 - 2015</h4>
                                    <h4 class="subheading">Bachelorstudium</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In diesen Jahren konnte ich an der TU Wien im Studium Medieninformatik und Visual Computing wichtige Erfahrungen sammeln.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tu2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015 - 2018</h4>
                                    <h4 class="subheading">Masterstudium</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Im mit Auszeichung abgeschlossenen Masterstudium Medieninformatik konnte ich das Wissen in meinen Interessensgebieten vertiefen und im Diploma Supplement on Innovation an eigenen Ideen arbeiten.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
