<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">Fähigkeiten die ich mir in und neben meinem Studium aneignen konnte.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Development</h4>
                    <p class="text-muted">Die Umsetzung mobiler Applikationen ist einer meiner Lieblingsbereiche der Informatik. Mein Hauptaugenmerk liegt dabei auf Design, Implementierung und Usability.</p>
                    <ul style="list-style-type:none" class="text-muted">
                        <li>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="rating-text">Android</div>
                        </li>
                        </br>
                        <li>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="rating-text">Flutter & Ionic</div>
                        </li>
                        </br>
                        <li>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="rating-text">iOS & React Native</div>
                        </li>
                        </br>
                        <!-- <li>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="rating-text">iOS</div>
                        </li> -->
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-paper-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Interactive Systems</h4>
                    <p class="text-muted">Physisch fassbare interaktive Systeme stellen für mich einen interessanten Zweig der Informatik dar. Mehrmals konnte ich solche Systeme in den letzten Jahren umsetzen.</p>
                    <ul style="list-style-type:none" class="text-muted">
                        <li>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="rating-text">Arduino & Raspberry Pi </div>
                        </li>
                        </br>
                        <li>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="rating-text">3D printing</div>
                        </li>
                        </br>
                        <li>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="rating-text">Games & Unity VR</div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">Ästhetisches Design ist für mich seit jeher wichtig. Die Kommunikation von Daten mittels Informationsdesign und Visualisierungen ist eines meiner größten Interessen.</p>
                    <ul style="list-style-type:none" class="text-muted">
                        <li>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="rating-text">D3.js</div>
                        </li>
                        </br>
                        <li>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="rating-text">Photoshop & Illustrator</div>
                        </li>
                        </br>
                        <li>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="fa fa-star-o text-primary rating"></div>
                            <div class="rating-text">Sketch</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
