<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">Fähigkeiten die ich mir während und neben meinem Studium aneignen konnte.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Android</h4>
                    <p class="text-muted">Die Programmierung mobiler Applikationen ist einer meiner Lieblingsbereiche der Informatik. Mein Hauptaugenmerk liegt dabei auf Design und Usability.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Physical Computing</h4>
                    <p class="text-muted">Physisch fassbare interaktive Systeme stellen für mich einen interessanten Zweig der Informatik dar. Mehrmals konnte ich solche Systeme in den letzten Jahren umsetzen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">Ästhetisches Design ist für mich seit jeher wichtig. Die Kommunikation von Daten mittels Informationsdesign und Visualisierungen ist eines meiner größten Interessen.</p>
                </div>
            </div>
        </div>
    </section>
